<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Your email"
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel"
      >
      <mat-error *ngIf="emailInput.hasError('required')">Missing email</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">E-mail is invalid</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Your password"
        ngModel
        name="password"
        required
        #pwInput="ngModel"
      >

      <mat-error *ngIf="pwInput.hasError('required')">Missing password</mat-error>

    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>

  </form>
</section>