<mat-nav-list>
    <a *ngIf="!isAuth" mat-list-item routerLink="/signup">
        <mat-icon>face</mat-icon>
        <span class="nav-capiton">Signup</span>
    </a>
    <a *ngIf="!isAuth" mat-list-item routerLink="/login">
        <mat-icon>input</mat-icon>
        <span class="nav-capiton">Login</span>
    </a>
    <a *ngIf="isAuth" mat-list-item routerLink="/training">
        <mat-icon>fitness_center</mat-icon>
        <span class="nav-capiton">Training</span>
    </a>
    <mat-list-item *ngIf="isAuth">
        <mat-icon>eject</mat-icon>
        <span class="nav-capiton">Logout</span>
    </mat-list-item>
</mat-nav-list>